<div class="container-fluid menus-container">
<div class="row">
  <div class="col-3">
    <div class="card">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title"><%= current_user.company %></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= current_user.location %> <br></li>
        <li class="list-group-item" href><%= current_user.bio %></li>
      </ul>
      <div class="card-body">
        <h5 class="card-title"><%= current_user.industry %></h5>
      </div>
      <div class="card-body">
        <a href="/users/edit" class="card-link">Edit Profile</a>
      </div>
      <% if not @last_log.empty? %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <br>
          <h5>Last Log</h5>
          <hr>
          <p><%= @last_log.first.description %></p>
          <br>
          <%= link_to 'View Menu Log', "/menus/#{@last_log.first.menu_id}/logs", class: "btn btn-success"%>
        </li>
      </ul>
    <% end %>
    </div>
  </div>
  <div class="col-8 find-my-menus">
    <h3>Menus: <%= @menus.count %></h3>
    <% if @menus.blank? %>
      No Menu created.... Create one? <%= link_to "New Menu", new_menu_path %>
    <% else %>
    <table class="table table-striped">
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Status</td>
            <td>Last Updated</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% @menus.each do |menu| %>
          <tr>
            <td><%= menu.id %></td>
            <td><%= menu.name %></td>
            <td><%= menu.status %></td>
            <td><%= menu.updated_at.strftime("%B %d %Y - %l:%M %p")  %></td>
            <td>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions</i>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="/menus/<%= menu.id %>"><i class="far fa-folder-open"></i> Open</a>
                  <a class="dropdown-item" href="/menus/<%= menu.id %>/edit"><i class="far fa-edit"></i> Edit</a>
                  <a class="dropdown-item" data-method="delete" href="menus/<%= menu.id %>"><i class="fas fa-ban"></i> </i> Delete</a>
                </div>
              </div>
          </td>
          </tr>
          <% end %>
        </tbody>
       </table>
    <% end %>
  </div>
</div>
<hr>
</div>
