
    <h4><%= current_user.company %></h4>

    <% @show_header.each do |menu| %>
    <h2><%= menu.name %></h2>
    <% @item = Item.where(header_id: menu.id) %>
      <% @item.each do |item| %>
      <%= item.name %> <%= item.size1 %><br>
      <% end %>
    <% end %>

  <button type="submit" class="btn btn-warning text-light" onclick="location.href='/menus/<%= @menu.id %>/edit'"><i class="fas fa-sync-alt"></i> Edit This Menu</button> <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete This Menu</button>
