<div class="carte-menu-image"></div>
<center><h1 class="mt-5"><%= current_user.company %></h1></center>
<% @show_header.each do |header| %>
<div class="row mt-5">
  <div class="col-1"></div>
  <div class="col-3">
    <h1><%= header.name %></h1>
    <hr>
  </div>
  <div class="col-4">
    <% @item = Item.where(header_id: header.id) %>
      <% @item.each do |item_name| %>
      <%= item_name.name %> <br>
      <% end %>
  </div>
  <div class="col-4">
    <% @item.each do |item_name| %>
  S <%= item_name.size1 %> - M <%= item_name.size1 %> - L <%= item_name.size1 %> <br>
    <% end %>
  </div>
</div>
<% end %>
<% if not @menu.disclaimer.blank? %>
<div class="row mt-4">
  <div class="col-1 ml-5"></div>
  <div class="col-3 mt-3">
      <small class="text-muted">*<%= @menu.disclaimer %></small>
  </div>
</div>
<% end %>
<center class="mt-5 mb-3">
<button type="submit" class="btn btn-warning text-light" onclick="location.href='/menus/<%= @menu.id %>/edit'"><i class="fas fa-sync-alt"></i> Edit This Menu</button>
<button type="button" target="_blank"  class="btn btn-primary text-light ml-3" onclick="location.href='/menus/<%= @menu.id %>/live'"><i class="fas fa-tv"></i> Go Live</button>
</center>
<div class="carte-menu-image"></div>
